<a href="https://colab.research.google.com/github/juliosoterooo/Extracci-n-de-datos/blob/main/act%203.2%20Valores%20nulos/actividad_b_(datos_nulos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import files
files.upload()

In [27]:
data = pd.read_csv('Base_Socio_Formador_Con_Nulos.csv', encoding="latin")
data.head(5)

,fecha,precio,año_hecho,año_renovado,metros_cuadrados,pisos,habitaciones,baños,calle,codigo_zip,estado,ciudad
0,24/06/2019,"$260,070",01/01/1982,2016.0,762.0,1.0,4.0,2.0,2400 WALNUT RIDGE ST,75229.0,TX,DALLAS
1,18/07/2019,"$456,280",01/01/1982,2016.0,866.0,2.0,4.0,2.0,10400 BIG THICKET DR,75217.0,TX,DALLAS
2,31/07/2019,"$237,820",01/01/1982,2016.0,814.0,1.0,5.0,3.0,9200 DARTWOOD LN,75225.0,TX,DALLAS
3,14/08/2019,"$231,000",01/01/1980,2016.0,680.0,1.0,4.0,2.0,4800 SIMCOE ST,75228.0,TX,DALLAS
4,31/07/2019,"$1,410,820",01/01/1980,2016.0,1018.0,2.0,4.0,2.0,6926 STEFANI DR,75225.0,TX,DALLAS

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha             4347 non-null   object
 1   precio            4328 non-null   object
 2   año_hecho         4349 non-null   object
 3   año_renovado      4339 non-null   float64
 4   metros_cuadrados  4333 non-null   float64
 5   pisos             4340 non-null   float64
 6   habitaciones      4348 non-null   float64
 7   baños             4346 non-null   float64
 8   calle             4333 non-null   object
 9   codigo_zip        4339 non-null   float64
 10  estado            4353 non-null   object
 11  ciudad            4340 non-null   object
dtypes: float64(6), object(6)
memory usage: 408.8+ KB

In [28]:
#identificar valores nulos por columna
valores_nulos = data.isnull().sum()
valores_nulos

fecha               12
precio              31
año_hecho           10
año_renovado        20
metros_cuadrados    26
pisos               19
habitaciones        11
baños               13
calle               26
codigo_zip          20
estado               6
ciudad              19
dtype: int64

In [29]:
#identificar valores nulos por dataframe
valores_nulos = data.isnull().sum().sum()
valores_nulos

213

In [30]:
#realizamos una copia del dataframe
data2 = data.copy()

**fecha, año_hecho, año_renovado**

In [31]:
#sustituir valores nulos por un string en concreto
data2["fecha"] = data2["fecha"].fillna("2030-06-19 00:00:00")
#sustituyo con fillna con una fecha porque es lo más sencillo

In [ ]:
valores_nulos = data2.isnull().sum()
valores_nulos

In [38]:
data2["año_hecho"] = data2["año_hecho"].fillna(method="ffill")
data2["año_renovado"] = data2["año_renovado"].fillna(method="ffill")
#para evitar confusiones por fechas iguales a otras

<ipython-input-38-57e1ffb922f6>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["año_hecho"] = data2["año_hecho"].fillna(method="ffill")
<ipython-input-38-57e1ffb922f6>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["año_renovado"] = data2["año_renovado"].fillna(method="ffill")

In [ ]:
valores_nulos = data2.isnull().sum()
valores_nulos

**precio**

In [50]:
data2.head(10)

,fecha,precio,año_hecho,año_renovado,metros_cuadrados,pisos,habitaciones,baños,calle,codigo_zip,estado,ciudad
0,24/06/2019,260070,01/01/1982,2016.0,762.0,1.0,4.0,2.0,2400 WALNUT RIDGE ST,75229.0,TX,DALLAS
1,18/07/2019,456280,01/01/1982,2016.0,866.0,2.0,4.0,2.0,10400 BIG THICKET DR,75217.0,TX,DALLAS
2,31/07/2019,237820,01/01/1982,2016.0,814.0,1.0,5.0,3.0,9200 DARTWOOD LN,75225.0,TX,DALLAS
3,14/08/2019,231000,01/01/1980,2016.0,680.0,1.0,4.0,2.0,4800 SIMCOE ST,75228.0,TX,DALLAS
4,31/07/2019,1410820,01/01/1980,2016.0,1018.0,2.0,4.0,2.0,6926 STEFANI DR,75225.0,TX,DALLAS
5,16/07/2019,740220,01/01/1980,2016.0,792.0,2.0,4.0,3.0,7800 MATTISON ST,75217.0,TX,DALLAS
6,28/06/2019,275830,01/01/1980,2016.0,640.0,2.0,4.0,2.0,400 SUNNYSIDE AVE,75211.0,TX,DALLAS
7,27/06/2019,355420,01/01/1980,2016.0,399.0,2.0,2.0,1.0,200 KITTIWAKE CIR,75211.0,TX,DALLAS
8,24/07/2019,390780,01/01/1979,2016.0,503.0,1.0,3.0,2.0,11600 TUSCANY WAY,75218.0,TX,DALLAS
9,11/07/2019,1152800,01/01/1977,2016.0,716.0,1.0,3.0,2.0,2400 51ST ST,75216.0,TX,DALLAS

In [45]:
#data2.precio = data2.precio.replace({'$':''}, regex=False)
#Eliminar un signo de una columna   #guardar
data2['precio']=data2['precio'].str.replace('$', '')

In [47]:
#Eliminar un signo de una columna
data2['precio']=data2['precio'].str.replace(',', '')

In [53]:
data2['precio']= data2['precio'].astype(float)

In [55]:
data2["precio"] = data2["precio"].fillna(round(data2["precio"].mean(),1))
#uso el promedio porque asi puedo encontrar una mejor distribución de los datos

In [56]:
#corroboramos valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos

fecha                0
precio               0
año_hecho            0
año_renovado         0
metros_cuadrados    26
pisos               19
habitaciones        11
baños               13
calle               26
codigo_zip          20
estado               6
ciudad              19
dtype: int64

**metros_cuadrados**

In [57]:
data2["metros_cuadrados"] = data2["metros_cuadrados"].fillna(round(data2["metros_cuadrados"].mean(),1))
#uso el promedio porque asi puedo encontrar una mejor distribución de los datos

In [ ]:
#corroboramos valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos

**pisos, habitaciones, baños**

In [62]:
import statistics as st

In [65]:
mode = st.mode(x for x in data['calle'] if x is not None)
mode

nan

In [63]:
mode = st.mode(x for x in data['codigo_zip'] if x is not None)
mode

75217.0

In [64]:
mode = st.mode(x for x in data['estado'] if x is not None)
mode

'TX'

In [67]:
mode = st.mode(x for x in data['ciudad'] if x is not None)
mode

'DALLAS'

In [68]:
data2["calle"].fillna(mode, inplace=True)
data2["codigo_zip"].fillna(mode, inplace=True)
data2["estado"].fillna(mode, inplace=True)
data2["ciudad"].fillna(mode, inplace=True)
#uso la moda porque asi puedo encontrar el valor más repetido y una mejor
#representación de los datos

<ipython-input-68-89994a0ebae2>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'DALLAS' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data2["codigo_zip"].fillna(mode, inplace=True)

In [69]:
valores_nulos = data2.isnull().sum()
valores_nulos

fecha                0
precio               0
año_hecho            0
año_renovado         0
metros_cuadrados     0
pisos               19
habitaciones        11
baños               13
calle                0
codigo_zip           0
estado               0
ciudad               0
dtype: int64

**pisos, habitaciones, baños**

In [70]:
data2["pisos"] = data2["pisos"].fillna(round(data["pisos"].median(),1))
data2["habitaciones"] = data2["habitaciones"].fillna(round(data["habitaciones"].median(),1))
data2["baños"] = data2["baños"].fillna(round(data["baños"].median(),1))
#use mediana porque es un metodo ideal para datos atípicos porque es el punto medio

In [ ]:
valores_nulos = data2.isnull().sum()
valores_nulos

In [72]:
#corroboramos valores nulos
valores_nulos = data2.isnull().sum().sum()
valores_nulos

0

In [73]:
data3 = data2.copy()

In [75]:
data3 = data2.dropna()
data3

,fecha,precio,año_hecho,año_renovado,metros_cuadrados,pisos,habitaciones,baños,calle,codigo_zip,estado,ciudad
0,24/06/2019,260070.0,01/01/1982,2016.0,762.0,1.0,4.0,2.0,2400 WALNUT RIDGE ST,75229.0,TX,DALLAS
1,18/07/2019,456280.0,01/01/1982,2016.0,866.0,2.0,4.0,2.0,10400 BIG THICKET DR,75217.0,TX,DALLAS
2,31/07/2019,237820.0,01/01/1982,2016.0,814.0,1.0,5.0,3.0,9200 DARTWOOD LN,75225.0,TX,DALLAS
3,14/08/2019,231000.0,01/01/1980,2016.0,680.0,1.0,4.0,2.0,4800 SIMCOE ST,75228.0,TX,DALLAS
4,31/07/2019,1410820.0,01/01/1980,2016.0,1018.0,2.0,4.0,2.0,6926 STEFANI DR,75225.0,TX,DALLAS
...,...,...,...,...,...,...,...,...,...,...,...,...
4354,04/07/2019,549014.5,01/01/1928,0.0,305.0,1.0,2.0,1.0,1301 HAMEL ST,75212.0,TX,DALLAS
4355,14/06/2019,257360.0,01/01/1928,0.0,299.0,1.0,2.0,1.0,3501 WORD ST,75204.0,TX,DALLAS
4356,16/07/2019,881200.0,01/01/1927,0.0,817.0,2.0,5.0,3.0,1700 RIDGEDORF DR,75217.0,TX,DALLAS
4357,05/08/2019,877080.0,01/01/1927,0.0,576.0,2.0,4.0,2.0,8024 ROTHINGTON RD,75227.0,TX,DALLAS
4358,14/08/2019,660180.0,01/01/1927,0.0,393.0,1.0,3.0,1.0,8201 BARBAREE BLVD,75228.0,TX,DALLAS

In [76]:
valores_nulos = data3.isnull().sum()
valores_nulos

fecha               0
precio              0
año_hecho           0
año_renovado        0
metros_cuadrados    0
pisos               0
habitaciones        0
baños               0
calle               0
codigo_zip          0
estado              0
ciudad              0
dtype: int64

In [77]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha             4359 non-null   object
 1   precio            4359 non-null   float64
 2   año_hecho         4359 non-null   object
 3   año_renovado      4359 non-null   float64
 4   metros_cuadrados  4359 non-null   float64
 5   pisos             4359 non-null   float64
 6   habitaciones      4359 non-null   float64
 7   baños             4359 non-null   float64
 8   calle             4359 non-null   object
 9   codigo_zip        4359 non-null   object
 10  estado            4359 non-null   object
 11  ciudad            4359 non-null   object
dtypes: float64(6), object(6)
memory usage: 408.8+ KB

In [78]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha             4359 non-null   object
 1   precio            4359 non-null   float64
 2   año_hecho         4359 non-null   object
 3   año_renovado      4359 non-null   float64
 4   metros_cuadrados  4359 non-null   float64
 5   pisos             4359 non-null   float64
 6   habitaciones      4359 non-null   float64
 7   baños             4359 non-null   float64
 8   calle             4359 non-null   object
 9   codigo_zip        4359 non-null   object
 10  estado            4359 non-null   object
 11  ciudad            4359 non-null   object
dtypes: float64(6), object(6)
memory usage: 408.8+ KB

In [79]:
data2.to_csv("base_sin_nulos.csv")

In [80]:
from google.colab import files

files.download("base_sin_nulos.csv")